@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html {
    font-family: "Source Sans Pro" sans-serif;
    font-size: 18px;
    margin: 20px;
    color: white;
  background: #303647;
  background: -moz-radial-gradient(center, circle cover, #454d65 0%, #303647 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #454d65), color-stop(100%, #303647));
  background: -webkit-radial-gradient(center, circle cover, #454d65 0%, #303647 100%);
  background: -o-radial-gradient(center, circle cover, #454d65 0%, #303647 100%);
  background: -ms-radial-gradient(center, circle cover, #454d65 0%, #303647 100%);
  background: radial-gradient(center, circle cover, #454d65 0%, #303647 100%);
  background-color: #30364B; 
}

a, a:visited {
    color: white;
}

.asset {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    display: inline-block;
    background-color: white;
    color: black;
}

.asset > div {
    display: inline-block;
    padding: 10px;
    width: 150px;
}

.asset .address {
    width: 500px;
}

.unconfirmed::before {
    content: '(';
}
.unconfirmed::after {
    content: ')';
}

#asset-template {
    display: none;
}

    